<div class="container bg-primary p-3 text-light mt-3">

  <h2 class="text-center mb-4">Menú works!</h2>

  <div class="btn-group d-grid gap-2 mx-auto">
    <button type="button" routerLink="/" class="btn btn-info btn-lg border-light text-primary"><i class="fa-solid fa-house"></i></button>
    <button type="button" routerLink="../form" class="btn btn-info btn-lg border-light text-primary"> <i class="fa-regular fa-rectangle-list"></i> </button>
    <button type="button" routerLink="#" class="btn btn-info btn-lg border-light text-primary"> <i class="fa-solid fa-circle-info"></i> </button>
  </div>

</div>


<!-- Add Modal to button "Go to Home" -->

<!-- New page "ABOUT": -->

<!-- "FORM APP" es una aplicación web dedicada al registro de usuarios, diseñada con el propósito de simplificar y agilizar el proceso de inscripción en línea. Utilizando tecnologías modernas como JavaScript y una base de datos MySQL, esta aplicación ofrece a los usuarios una experiencia eficiente y segura. Nuestro equipo de desarrollo, apasionado por la tecnología, ha creado una interfaz intuitiva y una estructura de navegación sencilla que permite a los usuarios moverse fácilmente entre las diferentes secciones, incluyendo la página de inicio y el formulario de registro. Si tienes alguna pregunta o comentario sobre "FORM APP", no dudes en ponerte en contacto con nosotros. Estamos comprometidos en proporcionar la mejor experiencia posible a nuestros usuarios y mejorar continuamente nuestra aplicación web. ¡Gracias por elegir "FORM APP"! -->



